    body {
      background-color: #ffffff;
      font-family: 'Noto Sans KR', sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color:  #4fa3d1;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 40px;
    }

    .logo img {
      height: 74px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 24px;
      margin: 0;
    }

    nav a {
      text-decoration: none;
      color: #222;
      font-size: 0.95rem;
      font-weight: 500;
    }

    nav a:hover {
      background-color: #ddd;
    }

    main {
      padding: 60px 40px;
      background-color: #ffffff;
    }

    h1 {
      font-size: 2rem;
      color: #1c1c1c;
      margin-bottom: 30px;
      text-align: center;
    }

    .section {
      margin-bottom: 60px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }

    .card {
      background-color: #f8f8f8;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
      overflow: hidden;
    }

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .card-content {
      padding: 15px;
      background-color:#f5f5f5;
    }

    .card-content h3 {
      font-size: 1.1rem;
      margin: 0 0 8px;
      color: #333;
    }

    .card-content p {
      font-size: 0.9rem;
      color: #666;
    }