body {
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  border-bottom: 1px solid #eee;
  background-color: #cecbcb;
}

.logo img {
  height: 74px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  transform: translateX(-18px);
}

nav a {
  text-decoration: none;
  color: #222;
  font-size: 0.95rem;
  font-weight: 500;
}

main {
  padding: 40px;
}

main h1 {
  font-size: 1.8rem;
  margin-bottom: 40px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}

.map-image {
  flex: 1 1 100px;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.map-image img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.region-list {
  flex: 1 1 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.region-list a {
  background-color: #cecbcb;
  color: white;
  padding: 20px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: background-color 0.2s ease;
  text-align: center;
}

.region-list a:hover {
  background-color: #bdbaba;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .map-image {
    justify-content: center;
    padding-right: 0;
  }
}
